.about {

    margin: 20px;
    margin-top: 101px;
    margin-bottom: 150px;
    width: calc((100% - 40px) / 2);
    min-height: calc(100vh - 251px);
    position: relative;

    @include sizeone {

        margin: 16px;
        margin-top: 101px;
        width: calc(100% - 32px);
        margin-bottom: 150px;
        min-height: calc((100 * var(--vhu)) - 251px);

    }

    p {

        margin-bottom: 22px;

        @include sizeone {

            margin-bottom: 20px;

        }

    }

    .contact,
    .pdf {

        display: block;

    }

    a {

        color: $gris;
        cursor: pointer;

        &:hover {

            color: $noir;
        }

    }

    .credits {

        position: absolute;
        bottom: -135px;
        left: 0px;

        &_item {

            margin-right: 10px;
            margin-bottom: 20px;

        }

        @include sizeone {

            display: flex;
            flex-direction: column;

        }

    }

}