.header {

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100vw;
    background-color: white;

    &.hide {

        opacity: 0;
        pointer-events: none;

    }

    .nav {

        ul {

            display: flex;

        }

        &_item {

            padding: 16px 20px;

            @include sizeone {

                padding: 16px;

            }

        }

    }

}